USE [master]
GO
/****** Object:  Database [YACM]    Script Date: 04-Jun-19 1:49:26 PM ******/
CREATE DATABASE [YACM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YACM', FILENAME = N'C:\Program Files\Microsoft SQL Server\2014\MSSQL12.SQLEXPRESS\MSSQL\DATA\YACM.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'YACM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\2014\MSSQL12.SQLEXPRESS\MSSQL\DATA\YACM_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YACM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YACM]
GO
/****** Object:  Schema [YACM]    Script Date: 04-Jun-19 1:49:26 PM ******/
CREATE SCHEMA [YACM]
GO
/****** Object:  UserDefinedDataType [dbo].[bincontent]    Script Date: 04-Jun-19 1:49:26 PM ******/
CREATE TYPE [dbo].[bincontent] FROM [varchar](max) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[string]    Script Date: 04-Jun-19 1:49:26 PM ******/
CREATE TYPE [dbo].[string] FROM [varchar](50) NULL
GO
/****** Object:  Table [YACM].[Document]    Script Date: 04-Jun-19 1:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [YACM].[Document](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[eventNumber] [int] NULL,
 CONSTRAINT [DOCUMENT_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [YACM].[Equipment]    Script Date: 04-Jun-19 1:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [YACM].[Equipment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[participantID] [int] NOT NULL,
	[category] [dbo].[string] NULL,
	[description] [dbo].[string] NULL,
 CONSTRAINT [EQUIPMENT_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [YACM].[Event]    Script Date: 04-Jun-19 1:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [YACM].[Event](
	[number] [int] IDENTITY(1,1) NOT NULL,
	[name] [dbo].[string] NOT NULL,
	[beginningDate] [date] NOT NULL,
	[endDate] [date] NULL,
	[visibility] [bit] NOT NULL,
	[managerID] [int] NOT NULL,
 CONSTRAINT [EVENT_PK] PRIMARY KEY CLUSTERED 
(
	[number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [YACM].[Manager]    Script Date: 04-Jun-19 1:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [YACM].[Manager](
	[id] [int] NOT NULL,
 CONSTRAINT [MANAGER_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [YACM].[OtherFile]    Script Date: 04-Jun-19 1:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [YACM].[OtherFile](
	[id] [int] NOT NULL,
	[path] [dbo].[string] NOT NULL,
 CONSTRAINT [OTHERFILE_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [YACM].[Participant]    Script Date: 04-Jun-19 1:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [YACM].[Participant](
	[id] [int] NOT NULL,
 CONSTRAINT [PARTICIPANT_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [YACM].[ParticipantDropOut]    Script Date: 04-Jun-19 1:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [YACM].[ParticipantDropOut](
	[participantID] [int] NOT NULL,
	[eventNumber] [int] NOT NULL,
 CONSTRAINT [PARTICIPANTDROPOUT_PK] PRIMARY KEY CLUSTERED 
(
	[participantID] ASC,
	[eventNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [YACM].[ParticipantEnrollment]    Script Date: 04-Jun-19 1:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [YACM].[ParticipantEnrollment](
	[participantID] [int] NOT NULL,
	[eventNumber] [int] NOT NULL,
	[teamName] [dbo].[string] NULL,
	[dorsal] [int] NULL,
 CONSTRAINT [PARTICIPANTENROLLMENT_PK] PRIMARY KEY CLUSTERED 
(
	[participantID] ASC,
	[eventNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [YACM].[ParticipantOnTeam]    Script Date: 04-Jun-19 1:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [YACM].[ParticipantOnTeam](
	[participantID] [int] NOT NULL,
	[teamName] [dbo].[string] NOT NULL,
	[startDate] [date] NOT NULL,
	[endDate] [date] NOT NULL,
 CONSTRAINT [PARTICIPANTONTEAM_PK] PRIMARY KEY CLUSTERED 
(
	[participantID] ASC,
	[teamName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [YACM].[Prize]    Script Date: 04-Jun-19 1:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [YACM].[Prize](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sponsorID] [int] NULL,
	[eventNumber] [int] NOT NULL,
	[receiverID] [int] NULL,
	[value] [real] NULL,
 CONSTRAINT [PRIZE_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [YACM].[Sponsor]    Script Date: 04-Jun-19 1:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [YACM].[Sponsor](
	[id] [int] NOT NULL,
 CONSTRAINT [SPONSOR_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [YACM].[SponsorshipEvent]    Script Date: 04-Jun-19 1:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [YACM].[SponsorshipEvent](
	[sponsorID] [int] NOT NULL,
	[eventNumber] [int] NOT NULL,
	[monetaryValue] [real] NOT NULL,
 CONSTRAINT [SPONSORSHIPEVENT_PK] PRIMARY KEY CLUSTERED 
(
	[sponsorID] ASC,
	[eventNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [YACM].[SponsorshipTeam]    Script Date: 04-Jun-19 1:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [YACM].[SponsorshipTeam](
	[sponsorID] [int] NOT NULL,
	[teamName] [dbo].[string] NOT NULL,
	[monetaryValue] [real] NOT NULL,
 CONSTRAINT [SPONSORSHIPTEAM_PK] PRIMARY KEY CLUSTERED 
(
	[sponsorID] ASC,
	[teamName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [YACM].[Stage]    Script Date: 04-Jun-19 1:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [YACM].[Stage](
	[date] [date] NOT NULL,
	[startLocation] [dbo].[string] NOT NULL,
	[endLocation] [dbo].[string] NOT NULL,
	[eventNumber] [int] NOT NULL,
	[distance] [real] NOT NULL,
 CONSTRAINT [STAGE_PK] PRIMARY KEY CLUSTERED 
(
	[date] ASC,
	[startLocation] ASC,
	[endLocation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [YACM].[StageParticipation]    Script Date: 04-Jun-19 1:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [YACM].[StageParticipation](
	[participantID] [int] NOT NULL,
	[eventNumber] [int] NOT NULL,
	[stageDate] [date] NOT NULL,
	[stageStartLocation] [dbo].[string] NOT NULL,
	[stageEndLocation] [dbo].[string] NOT NULL,
	[result] [dbo].[string] NULL,
 CONSTRAINT [STAGEPARTICIPATION_PK] PRIMARY KEY CLUSTERED 
(
	[participantID] ASC,
	[eventNumber] ASC,
	[stageDate] ASC,
	[stageStartLocation] ASC,
	[stageEndLocation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [YACM].[Team]    Script Date: 04-Jun-19 1:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [YACM].[Team](
	[name] [dbo].[string] NOT NULL,
 CONSTRAINT [TEAM_PK] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [YACM].[TextFile]    Script Date: 04-Jun-19 1:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [YACM].[TextFile](
	[id] [int] NOT NULL,
	[content] [dbo].[bincontent] NOT NULL,
 CONSTRAINT [TEXTFILE_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [YACM].[User]    Script Date: 04-Jun-19 1:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [YACM].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [dbo].[string] NOT NULL,
	[name] [dbo].[string] NOT NULL,
	[password] [dbo].[string] NOT NULL,
 CONSTRAINT [USER_PK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [YACM].[Equipment] ON 

INSERT [YACM].[Equipment] ([id], [participantID], [category], [description]) VALUES (1, 122, N'Bike', N'To be provided')
INSERT [YACM].[Equipment] ([id], [participantID], [category], [description]) VALUES (2, 122, N'Shorts', N'To be provided')
INSERT [YACM].[Equipment] ([id], [participantID], [category], [description]) VALUES (3, 122, N'Shorts', N'To be provided')
SET IDENTITY_INSERT [YACM].[Equipment] OFF
SET IDENTITY_INSERT [YACM].[Event] ON 

INSERT [YACM].[Event] ([number], [name], [beginningDate], [endDate], [visibility], [managerID]) VALUES (1, N'Milan–San Remo', CAST(N'2019-08-09' AS Date), CAST(N'2019-08-14' AS Date), 0, 159)
INSERT [YACM].[Event] ([number], [name], [beginningDate], [endDate], [visibility], [managerID]) VALUES (2, N'Tour of Flanders', CAST(N'2019-01-11' AS Date), CAST(N'2019-01-20' AS Date), 1, 159)
INSERT [YACM].[Event] ([number], [name], [beginningDate], [endDate], [visibility], [managerID]) VALUES (3, N'Paris–Roubaix', CAST(N'2019-03-19' AS Date), CAST(N'2019-03-24' AS Date), 0, 159)
SET IDENTITY_INSERT [YACM].[Event] OFF
INSERT [YACM].[Manager] ([id]) VALUES (159)
INSERT [YACM].[Manager] ([id]) VALUES (160)
INSERT [YACM].[Manager] ([id]) VALUES (161)
INSERT [YACM].[Participant] ([id]) VALUES (1)
INSERT [YACM].[Participant] ([id]) VALUES (2)
INSERT [YACM].[Participant] ([id]) VALUES (3)
GO
INSERT [YACM].[ParticipantDropOut] ([participantID], [eventNumber]) VALUES (177, 11)
INSERT [YACM].[ParticipantDropOut] ([participantID], [eventNumber]) VALUES (183, 13)
INSERT [YACM].[ParticipantDropOut] ([participantID], [eventNumber]) VALUES (185, 18)
INSERT [YACM].[ParticipantEnrollment] ([participantID], [eventNumber], [teamName], [dorsal]) VALUES (10, 7, N'Groupama - FDJ ', 5)
INSERT [YACM].[ParticipantEnrollment] ([participantID], [eventNumber], [teamName], [dorsal]) VALUES (20, 3, N'BORA - hansgrohe ', 10)
INSERT [YACM].[ParticipantEnrollment] ([participantID], [eventNumber], [teamName], [dorsal]) VALUES (20, 13, N'Team Jumbo-Visma ', 8)
INSERT [YACM].[ParticipantOnTeam] ([participantID], [teamName], [startDate], [endDate]) VALUES (10, N'Groupama - FDJ ', CAST(N'2017-09-22' AS Date), CAST(N'2017-10-05' AS Date))
INSERT [YACM].[ParticipantOnTeam] ([participantID], [teamName], [startDate], [endDate]) VALUES (20, N'BORA - hansgrohe ', CAST(N'2019-04-30' AS Date), CAST(N'2019-05-06' AS Date))
INSERT [YACM].[ParticipantOnTeam] ([participantID], [teamName], [startDate], [endDate]) VALUES (20, N'Team Jumbo-Visma ', CAST(N'2017-12-31' AS Date), CAST(N'2018-01-02' AS Date))
SET IDENTITY_INSERT [YACM].[Prize] ON 

INSERT [YACM].[Prize] ([id], [sponsorID], [eventNumber], [receiverID], [value]) VALUES (1, 210, 1, 122, 1370)
INSERT [YACM].[Prize] ([id], [sponsorID], [eventNumber], [receiverID], [value]) VALUES (2, 203, 2, 47, 2834)
INSERT [YACM].[Prize] ([id], [sponsorID], [eventNumber], [receiverID], [value]) VALUES (3, 207, 3, 20, 9154)
SET IDENTITY_INSERT [YACM].[Prize] OFF
INSERT [YACM].[Sponsor] ([id]) VALUES (201)
INSERT [YACM].[Sponsor] ([id]) VALUES (202)
INSERT [YACM].[Sponsor] ([id]) VALUES (203)
INSERT [YACM].[SponsorshipEvent] ([sponsorID], [eventNumber], [monetaryValue]) VALUES (201, 9, 57552)
INSERT [YACM].[SponsorshipEvent] ([sponsorID], [eventNumber], [monetaryValue]) VALUES (202, 4, 65366)
INSERT [YACM].[SponsorshipEvent] ([sponsorID], [eventNumber], [monetaryValue]) VALUES (202, 10, 1193)
INSERT [YACM].[SponsorshipTeam] ([sponsorID], [teamName], [monetaryValue]) VALUES (202, N'Astana Pro Team ', 12410)
INSERT [YACM].[SponsorshipTeam] ([sponsorID], [teamName], [monetaryValue]) VALUES (202, N'EF Education First ', 31622)
INSERT [YACM].[SponsorshipTeam] ([sponsorID], [teamName], [monetaryValue]) VALUES (202, N'Groupama - FDJ ', 42558)
INSERT [YACM].[Stage] ([date], [startLocation], [endLocation], [eventNumber], [distance]) VALUES (CAST(N'2017-06-10' AS Date), N'Paris', N'Paris', 7, 2424)
INSERT [YACM].[Stage] ([date], [startLocation], [endLocation], [eventNumber], [distance]) VALUES (CAST(N'2017-06-23' AS Date), N'Paris', N'Paris', 4, 126)
INSERT [YACM].[Stage] ([date], [startLocation], [endLocation], [eventNumber], [distance]) VALUES (CAST(N'2017-10-16' AS Date), N'Lisboa', N'New York City', 2, 5906)
INSERT [YACM].[StageParticipation] ([participantID], [eventNumber], [stageDate], [stageStartLocation], [stageEndLocation], [result]) VALUES (10, 7, CAST(N'2017-06-10' AS Date), N'Paris', N'Paris', N'3.5 hours')
INSERT [YACM].[StageParticipation] ([participantID], [eventNumber], [stageDate], [stageStartLocation], [stageEndLocation], [result]) VALUES (20, 3, CAST(N'2017-12-09' AS Date), N'New York City', N'New York City', N'1.5 hours')
INSERT [YACM].[StageParticipation] ([participantID], [eventNumber], [stageDate], [stageStartLocation], [stageEndLocation], [result]) VALUES (20, 13, CAST(N'2018-02-24' AS Date), N'Lisboa', N'Lisboa', N'9.8 hours')
INSERT [YACM].[Team] ([name]) VALUES (N'AG2R La Mondiale ')
INSERT [YACM].[Team] ([name]) VALUES (N'Astana Pro Team ')
INSERT [YACM].[Team] ([name]) VALUES (N'Bahrain Merida ')
SET IDENTITY_INSERT [YACM].[User] ON 

INSERT [YACM].[User] ([id], [email], [name], [password]) VALUES (1, N'ora69@harvey.net', N'Nicholas Mason', N'jsktujlqqn')
INSERT [YACM].[User] ([id], [email], [name], [password]) VALUES (2, N'n.mason@randatmail.com', N'Eric Dixon', N'mmkr3ib91a')
INSERT [YACM].[User] ([id], [email], [name], [password]) VALUES (3, N'e.dixon@randatmail.com', N'Kevin Howard', N'jf6hh0xv8s')
GO
SET IDENTITY_INSERT [YACM].[User] OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__User__AB6E6164CC06EB89]    Script Date: 04-Jun-19 1:49:26 PM ******/
ALTER TABLE [YACM].[User] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [YACM].[Event] ADD  CONSTRAINT [VISIBILITY_DEFAULT]  DEFAULT ((1)) FOR [visibility]
GO
ALTER TABLE [YACM].[Event]  WITH CHECK ADD FOREIGN KEY([managerID])
REFERENCES [YACM].[Manager] ([id])
GO
ALTER TABLE [YACM].[Manager]  WITH CHECK ADD FOREIGN KEY([id])
REFERENCES [YACM].[User] ([id])
GO
ALTER TABLE [YACM].[Participant]  WITH CHECK ADD FOREIGN KEY([id])
REFERENCES [YACM].[User] ([id])
GO
ALTER TABLE [YACM].[ParticipantDropOut]  WITH CHECK ADD FOREIGN KEY([eventNumber])
REFERENCES [YACM].[Event] ([number])
GO
ALTER TABLE [YACM].[ParticipantDropOut]  WITH CHECK ADD FOREIGN KEY([participantID])
REFERENCES [YACM].[Participant] ([id])
GO
ALTER TABLE [YACM].[ParticipantEnrollment]  WITH CHECK ADD FOREIGN KEY([eventNumber])
REFERENCES [YACM].[Event] ([number])
GO
ALTER TABLE [YACM].[ParticipantEnrollment]  WITH CHECK ADD FOREIGN KEY([participantID])
REFERENCES [YACM].[Participant] ([id])
GO
ALTER TABLE [YACM].[ParticipantEnrollment]  WITH CHECK ADD FOREIGN KEY([teamName])
REFERENCES [YACM].[Team] ([name])
GO
ALTER TABLE [YACM].[ParticipantOnTeam]  WITH CHECK ADD FOREIGN KEY([participantID])
REFERENCES [YACM].[Participant] ([id])
GO
ALTER TABLE [YACM].[ParticipantOnTeam]  WITH CHECK ADD FOREIGN KEY([teamName])
REFERENCES [YACM].[Team] ([name])
GO
ALTER TABLE [YACM].[Sponsor]  WITH CHECK ADD FOREIGN KEY([id])
REFERENCES [YACM].[User] ([id])
GO
ALTER TABLE [YACM].[SponsorshipEvent]  WITH CHECK ADD FOREIGN KEY([eventNumber])
REFERENCES [YACM].[Event] ([number])
GO
ALTER TABLE [YACM].[SponsorshipEvent]  WITH CHECK ADD FOREIGN KEY([sponsorID])
REFERENCES [YACM].[Sponsor] ([id])
GO
ALTER TABLE [YACM].[SponsorshipTeam]  WITH CHECK ADD FOREIGN KEY([sponsorID])
REFERENCES [YACM].[Sponsor] ([id])
GO
ALTER TABLE [YACM].[SponsorshipTeam]  WITH CHECK ADD FOREIGN KEY([teamName])
REFERENCES [YACM].[Team] ([name])
GO
ALTER TABLE [YACM].[Stage]  WITH CHECK ADD FOREIGN KEY([eventNumber])
REFERENCES [YACM].[Event] ([number])
GO
ALTER TABLE [YACM].[StageParticipation]  WITH CHECK ADD FOREIGN KEY([eventNumber])
REFERENCES [YACM].[Event] ([number])
GO
ALTER TABLE [YACM].[StageParticipation]  WITH CHECK ADD FOREIGN KEY([participantID])
REFERENCES [YACM].[Participant] ([id])
GO
ALTER TABLE [YACM].[StageParticipation]  WITH CHECK ADD FOREIGN KEY([stageDate], [stageStartLocation], [stageEndLocation])
REFERENCES [YACM].[Stage] ([date], [startLocation], [endLocation])
GO
USE [master]
GO
